@using Blazor.Extensions.Canvas
<p><button @onclick="__BackToMenu">Back to main menu</button></p>
<p>
    <BECanvas Width="@(__game.Grid.Size * __cellSize)"
              Height="@(__game.Grid.Size * __cellSize)"
    @ref="__canvasReference">
    </BECanvas>
</p>
<p>Score: @__game.Score</p>
<p>Time between intervals: @__game.TimeBetweenInterval</p>
<table>
    <tr>
        <td></td>
        <td><button @onclick="__GoUp">U</button></td>
        <td></td>
    </tr>
    <tr>
        <td><button @onclick="__GoLeft">L</button></td>
        <td></td>
        <td><button @onclick="__GoRight">R</button></td>
    </tr>
    <tr>
        <td></td>
        <td><button @onclick="__GoDown">D</button></td>
        <td></td>
    </tr>
</table>